.krds-drop-wrap {
  min-width: 16rem;
  padding: var(--krds-padding-2) 0;
  background-color: var(--krds-light-color-surface-white);
  border: 1px solid var(--krds-light-color-border-gray-light);
  border-radius: var(--krds-radius-medium2);
  box-shadow: 0 4px 12px var(--krds-light-color-alpha-shadow2);
  z-index: 100;
}

.krds-drop-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--krds-padding-4) var(--krds-padding-5);
  border: none;
  background: none;
  font-family: inherit;
  font-size: var(--krds-pc-font-size-body-medium);
  color: var(--krds-light-color-text-basic);
  cursor: pointer;
  text-align: left;
}

.krds-drop-item[data-highlighted] {
  background-color: var(--krds-light-color-action-primary-hover);
}

.krds-drop-item.active {
  color: var(--krds-light-color-text-primary);
  font-weight: 700;
}

.krds-drop-item[data-disabled] {
  color: var(--krds-light-color-text-disabled);
  cursor: not-allowed;
}

.krds-drop-item:focus-visible {
  outline: 2px solid var(--krds-light-color-border-primary);
  outline-offset: -2px;
}
